@import './bases/variables';

.header {
    .header-nav {
        background-color: #000;
        color: #fff;
        .nav-items {
            display:flex;
            justify-content: center;
            align-items: center;
            a {
                padding: 5px;
                transition: all 0.2s ease-in-out;
                &:hover{
                    color: #F8B653;
                }
            }
        }
    }
}