@import "./bases/variables";

.header {
  .header-nav {
    background-color: #000;
    .container {
      color: #fff;
      .nav-items {
        display: flex;
        justify-content: center;
        align-items: center;
        a {
          padding: 5px;
        }
      }
    }
  }
  .menu {
    .menu-items {
      a {
        color: #000;
        margin-right: 15px;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          bottom: -5px;
          left: 0;
          border: 1px solid #f8b653;
          width: 100%;
          transition: all 0.2s ease-in-out;
          transform: scaleX(0);
        }
        &:hover::after {
          transform: scaleX(1);
        }
      }
      .active {
        color: #f8b653;
        &::after {
          content: "";
          position: absolute;
          bottom: -5px;
          left: 0;
          border: 1px solid #f8b653;
          width: 100%;
          transform: scaleX(1);
        }
      }
    }
  }
}

.myCarousel {
  .img-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    img {
        width: 100%;
    }
  }
  .carousel-indicators {
    bottom: 15%;
    button {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      border: 1px solid #b7b7b7;
    }
  }
  .carousel-inner {
    max-width: 1320px;
    max-height: 400px;
    .carousel-item {
      position: relative;
      .header-banner {
        img {
          margin-left: 86px;
        }
      }
      h3 {
        font-size: 40px;
        font-weight: 300;
        line-height: 48px;
      }
      p {
        font-weight: 300;
        font-size: 20px;
        line-height: 24px;
      }
      .btn-header {
        background-color: #f8b653;
        padding: 10px 25px 10px 25px;
        color: #fff;
        border: none;
      }
    }
    @media only screen and (max-width: 768px) {
      & {
        width: 375px;
        height: 300px;
        
        .carousel-item {
          .header-banner {
            img {
              max-width: 150px;
              max-height: 150px;
              margin: 0;
            }
          }
          h3 {
            font-size:  20px;
            line-height: 24px;
          }
          p {
            font-size: 10px;
            line-height: 24px;
          }
        }
      }
    }
  }
}

.product-feature {
    .card {
        width: 369px;
        .card-header {
            padding: 0;
            position: relative;
            // height: 305px;
            .title {
              position: absolute;
              bottom: 0;
              left: 25px;
              .name {
                font-size: 24px;
                font-weight:300;
                line-height: 29px;
              }
              .description {
                color:#CBC9C9;
                font-size: 20px;
                font-weight:300;
                line-height: 24px;

              }
            }
        }
        .card-body {
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding: 0;
            height: 64px;
            a {
                border: none;
                background-color: #E1B067;
                font-size: 24px;
                font-weight: 200;
                line-height: 29px;
                color: #000;
                padding-top: 15px;
            }
            h5 {
                padding-top: 15px;
                font-size: 24px;
                font-weight: 600;
                line-height: 29px;
                background-color: #DEDDDC;
                margin:0
            }
        }
    }
}

footer {
    margin-top: 150px;

    #footer_end {
        background-color: rgba(181, 180, 180, 0.218);
    }

    ul {
        margin-bottom: 40px;
        border-left: 1px solid rgba(156, 156, 156, 0.186);

        .title {
            font-weight: 900;
            font-size: 22px;
        }

        li {
            list-style: none;

            a {
                text-decoration: none;
                color: black;

                &:hover {
                    color: #D017EE;
                }
            }


        }

        .specialLink {
            color: rgb(215, 17, 17);
        }
    }
}